body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}
#form{
    width: 95%;
    height: 200px;
    background: floralwhite;
    margin: 14em auto;
    border: 2px solid lightgray;
    border-radius: 5px;
}
#window{
    font-size: 30px;
    line-height: 50px;
    width: 60%;
    height: 50px;
    margin: 20px 0px;
    display: inline-flex;
    border: 1px solid;
}
#keyboard{
    width: 80%;
    height: 100px;
    margin: 10px 0px;
    display: inline-flex;
    line-height: 100px;
}
#menu{
    width: 30%;
    height: 50px;
    margin: 20px 4%;
    display: inline-flex;
    border: 1px solid;
}
.buttonsMenu{
    width: 60px;
    height: 50px;
    color: black;
    border: black;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
#lineTop{
    display: inline-flex;
    width: 100%;

}
.langButton{
    width: 50px;
    height: 20px;
    cursor: pointer;
    border: 1px solid;
    margin: 25px 5px 25px 5px;
    line-height: 20px;
    text-align: center;
    font-size: 21px;
}
.langButton:hover{
    background: lightgray;
}